.search-page .input-field input[type="text"] {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px;
  font-size: large;
  font-family: monospace;
  font-weight: bolder;
}

/* label underline focus color */
.search-page .input-field input[type="text"]:focus {
  border: 1px solid darkviolet;
  box-shadow: 0 1px 0 0 darkviolet !important;
}
/* valid color */
.search-page .input-field input[type="text"].valid {
  border: 1px solid green;
  box-shadow: 0 1px 0 0 green !important;
}
/* invalid color */
.search-page .input-field input[type="text"].invalid {
  border: 1px solid red;
  box-shadow: 0 1px 0 0 red !important;
}
/* icon prefix focus color */
.search-page .input-field .prefix.active {
  color: #000;
}

.search-appear {
  transform: scaleY(0);
}
.search-appear-active {
  transform: scaleY(1);
  transition: all 500ms ease-in-out;
}
