.searchresult .item-enter {
  opacity: 0;
  transform: translateX(-20px);
}
.searchresult .item-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 200ms ease-in;
}
.searchresult .item-exit {
  opacity: 1;
  transform: translateX(0px);
}
.searchresult .item-exit-active {
  opacity: 0;
  transform: translateX(20px);
  transition: all 200ms ease-in;
}
